@model WebApplication4.Models.Resena

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear opinion</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LibroId" class="control-label"></label>
                <select asp-for="LibroId" class ="form-control" asp-items="ViewBag.LibroId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Puntuacion" class="control-label"></label>
                <input asp-for="Puntuacion" class="form-control" />
                <span asp-validation-for="Puntuacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaResena" class="control-label"></label>
                <input asp-for="FechaResena" class="form-control" />
                <span asp-validation-for="FechaResena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
